@font-face {
    font-family:"Poppins', sans-serif;";  
    src: url("../lesson-4/fonts/Poppins-Regular.ttf"); 
    font-style: normal; 
    font-weight: normal;
    font-display: swap;
}

html{
    font-family: "Poppins", "Arial", sans-serif;
}
body {
    color: #000;
    font: 400 14px/1.2 "Poppins", sans-serif;
    height: 100vh;
    display: flex;

}
ul{
    list-style: none;
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    align-items: flex-start;
    font-size: 16px;
}

.wrap-title{
    display: inline;
    margin-top: 20px;
    margin-left: 385px;

}
.benefits{
 margin-top: 77px;
 margin-left: 386px;
 display:  inline; 
}

p{
    color: #505050;
    

}

#cook{
    position: absolute;
    left: 150px;
    top:150px;
}
    
#plate{
    margin-left: 15px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;

}

.static{
    display:flex;
    flex-direction: column;
    max-width: 655px;
    justify-content:center;
    align-items: flex-end;

}
.name{
    display:flex;
    margin: 10px 0 10px;
    justify-content: flex-start;
    align-items: center;
}
img{
    margin-right: 20px;
}
